.terms-container-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.terms-container-column {
  display: flex;
  flex-direction: column;
}

.definition-container {
  width: 40%;
  background: linear-gradient(90deg, rgb(11, 49, 58) 0%, rgb(11, 49, 58) 100%);
  color: white;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1rem;
}

.terms-button {
  padding: 0.5em;
  width: 360px;
  background-color: rgb(110, 163, 163);
  box-shadow: 0px 2px 3px rgba(85, 126, 126, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1rem;
}

.terms-button:hover {
  background-color: rgb(92, 141, 141);
}
